@charset "UTF-8";
/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #LISTS
            #ARTICLE
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* TYPOGRAPHY */
/* Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/
html{ 
    scroll-behavior: smooth;
}
:root {
    --dark-color: rgba(76, 70, 70, 1);
    --pink: rgba(183, 88, 88, 1);
    --hover-pink:rgba(238, 41, 97, 1);
    --maroon: rgba(144, 23, 56, 1);
    --background-color: rgba(234, 245, 251, 1);
    --yellow: rgba(251, 253, 223, 0.8);
    --lightgreen: rgba(136, 190, 136, 1);
  }

body {
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(76, 70, 70, 1);;
    font-size: 87.5%;
    /* 14px; */
    line-height: 1.5;
    /* 14px x 1.5em = 21px */
    text-wrap: pretty;
}

/* HEADINGS
    Based on Traditional Typographic Scale
    48, 36, 24, 21, 18, 16 */
h1, h2, h3, h4, h5, h6 {
    font-family: utopia-std, serif;
    font-weight: 400;
    font-style: normal;
    margin: 0.5em 0;
}

h1 {
    font-size: 3em;
    /* 48px / 16px = 3em */
    line-height: 1;
}

h2 {
    font-size: 2.25em;
    /* 36px / 16px = 2.25em */
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    /* 24px / 16px = 1.5em */
    line-height: 1.2;
}

h4 {
    font-size: 1.3125em;
    /* 21px / 16px = 1.3125em */
    line-height: 1.3;
}

h5 {
    font-size: 1.125em;
    /* 18px / 16px = 1.125em */
    line-height: 1.4;
}

h6 {
    font-size: 1em;
    /* 16px / 16px = 1em */
    line-height: 1.5;
}

/* PARAGRAPHS */
p {
    margin: 0 0 0.5em 0;
    max-width: 38em;
}

.centered p {
    margin-left: auto;
    margin-right: auto;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

/* LINKS */
a {
    color: rgba(144, 23, 56, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(183, 88, 88, 1);
}

/* HELPER CLASSES */
.text-centered {
    text-align: center;
}

.full-width {
    max-width: none;
    width: 100%;
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.subheader {
    color: #999;
    margin-top: 1em;
    font-style: normal;
    font-weight: normal;
    clear: both;
}

/* HORIZONTAL RULES */
hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 2em 0;
}

/* #MEDIA */
/* #IMAGES */
img {
    max-width: 100%;
    height: auto;
}
video {
    max-width: 100%;
    height: auto;
}

/* #COMPONENTS */
/* #BUTTONS */
button {
    font-size: inherit;
}

button, a.button {
    display: inline-block;
    background-color: rgb(144 23 56);
    border: 1px solid rgb(144 23 56);
    color: #fff;
    padding: 0.75em 1em;
    border-radius: 0.32em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: none;
    cursor: pointer;
    line-height: 1;
}

button.alt, a.button.alt {
    background-color: transparent;
    border: 1.75px solid rgb(144 23 56);
    font-variation-settings: "opsz" 10, "wght" 500;
    color: rgb(144 23 56);
}

button:hover, a.button:hover {
    background-color: rgb(238 41 97);
    color: #fff;
    border-color: rgb(238 41 97);
    text-decoration: none;
}

/* LAYOUT */
/* 
#MEDIA QUERIES (Mobile First)
        #DEFAULT+ (Mobile First - Default Settings in the CSS Above)
        #SMALL- (Mobile Only Overrides) - max-width: 767px
        #MEDIUM+ (Tablet) - min-width: 768px
        #LARGE+ (Desktop) - min-width: 1050px
        #EXTRALARGE+ (Desktop+) - min-width: 1250px */
/* SMALL+ (Mobile First Defaults) */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2em;
}

/* SMALL- MEDIA QUERY (e.g. for mobile overrides */
@media (max-width: 767px) {
    /* Inherits Small/Mobile Body Type from Above */
    /* Inherits Small/Mobile Fluid Width from Above */
}

/* MEDIUM+ MEDIA QUERY */
@media (max-width: 768px) {
    /* Inherits Small/Mobile Body Type from Above */
    /* Inherits Small/Mobile Fluid Width from Above */
}

/* LARGE+ MEDIA QUERY */
@media (min-width: 1050px) {
    /* LARGE BODY TYPE */
    body {
        font-size: 100%;
        /* 16px; */
    }
}

/* #EXTRA-LARGE+ MEDIA QUERY */
@media (min-width: 1250px) {
    /* EXTRA-LARGE BODY TYPE */
    body {
        font-size: 112.5%;
        /* 18px; */
    }
    /* FIXED WIDTH */
.container {
    max-width: 1200px;
    }
}

/* GRID */
/* section, .container {
    overflow-x: hidden;
} */

/* @media (min-width: 768px) {
    .row {
        margin-left: -2%;
        margin-right: -2%;
        display: flex;
        flex-wrap: wrap;
    }
    .row.swapped {
        flex-direction: row-reverse;
    }
    .row.centered {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .row > .column {
        margin: 0 2% 2% 2%;
        flex-grow: 1;
    }
    .row > .column.one-half {
        max-width: 46%;
    }
    .row > .column.one-third {
        max-width: 29.3333%;
    }
    .row > .column.two-thirds {
        max-width: 62.6666%;
    }
    .row > .column.one-fourth {
        max-width: 21%;
    }
    .row > .column.three-fourths {
        max-width: 71%;
    }
    .row > .column.push-one-third {
        margin-left: 35.3333%;
    }
    .row > .column.push-one-fourth {
        margin-left: 27%;
    }
    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
} */

.row {
    --gridgap: 2em;
}

.row > * {
    margin-top: var(--gridgap);
    margin-bottom: var(--gridgap);
}

@media (min-width:768px) {
    .row {
        --gridgap: 1em;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gridgap);
    }

    .row.centered {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }


    /* COMMONLY USED COLUMN WIDTHS */
    .one-half {grid-column: auto / span 6;}
    .one-third {grid-column: auto / span 4;}
    .two-thirds {grid-column: auto / span 8;}
    .one-fourth {grid-column: auto / span 3;}
    .three-fourths {grid-column: auto / span 9;}

    /* 12 COLUMN CLASSES */
    .col-1 { grid-column: auto / span 1;}
    .col-2 { grid-column: auto / span 2;}
    .col-3 { grid-column: auto / span 3;}
    .col-4 { grid-column: auto / span 4;}
    .col-5 { grid-column: auto / span 5;}
    .col-6 { grid-column: auto / span 6;}
    .col-7 { grid-column: auto / span 7;}
    .col-8 { grid-column: auto / span 8;}
    .col-9 { grid-column: auto / span 9;}
    .col-10 { grid-column: auto / span 10;}
    .col-11 { grid-column: auto / span 11;}
    .col-12 { grid-column: auto / span 12;}

    /* CENTERED COLUMNS */
    .one-half.centered { grid-column: 4 / span 6;}
    .one-third.centered { grid-column: 5 / span 4;}
    .two-thirds.centered { grid-column: 3 / span 8;}
    /* .three-fourths.centered {grid-column: / span 9} */

    /* PUSHES */
    .push-1 { grid-column-start: 2; }
    .push-2 { grid-column-start: 3; }
    .push-3 { grid-column-start: 4; }
    .push-4 { grid-column-start: 5; }
    .push-5 { grid-column-start: 6; }
    .push-6 { grid-column-start: 7; }
    .push-7 { grid-column-start: 8; }
    .push-8 { grid-column-start: 9; }
    .push-9 { grid-column-start: 10; }
    .push-10 { grid-column-start: 11; }
    .push-11 { grid-column-start: 12; }

    /* SWAP (REVERSE) COLUMNS WORKS ONLY W/ 2 CHILDREN */
    .row.swapped > *:first-child { order: 2; }
    .row.swapped > *:last-child { order: 1; }

}

@media (max-width: 767px) {
    .row.twoupmobile {
        --gridgap: 1em;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gridgap);
    }
    .one-fourth {grid-column: auto / span 1;}
}

/* FOR DEV PURPOSES ONLY */
.demo .column {
    padding: 1em;
    background: #ddd;
    text-align: center;
}
.demo .column p {
    margin: 0;
    padding: 0 0.5em;
    max-width: none;
}
.demo {
    padding: 2em 0;
}
.demo:after {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
    content: "Small (less than 768px)";
    color: #fff;
    background: #883333;
}

@media (min-width: 768px) {
    body.demo:after {
        content: "Medium (768px - 1049px)";
        background: #bcb83d;
    }
}
@media (min-width: 1050px) {
    body.demo:after {
        content: "Large (1050px - 1249px)";
        background: #669933;
    }
}
@media (min-width: 1250px) {
    body.demo:after {
        content: "Extra Large (1250px +)";
        background: #0099cc;
    }
}
.demo .column p:last-child {
    margin-bottom: 0;
}

/* SITE STRUCTURE */
/* Header& Footer */
body {
    background: rgba(234, 245, 251, 1);
}

/* Header & Footer */
.site-header a {
    color: rgba(76, 70, 70, 1);
    /* font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal; */
}

.site-footer a {
    color: rgba(76, 70, 70, 1);
}
.site-header a:hover, .site-footer a:hover {
    /* color: rgb(171, 55, 99); */
    color: rgba(183, 88, 88, 1);
    text-decoration: none;
}

/* Header Only */
.site-header {
    background-color: transparent;
    /* border-bottom: 0px solid #ccc; */
    padding: 0.5em 1em;
    justify-content: space-between;
}
.site-header.on-top {
    position: absolute;
    width: 100%;
}
@media (min-width: 768px) {
    .site-header {
        display: flex;
        justify-content: space-between;
        padding-top: 0.75em;
    }
}

/* Site ID */
.site-id {
    text-align: center;
    
}
.site-id h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #999;
}
.site-id h1 a {
    font-weight: bold;
    display: inline-block;
    color: rgba(234, 245, 251, 1);
}

/* Footer Only */
.site-footer {
    background-color: rgba(234, 245, 251, 1);
    border-top: 0px solid #ccc;
    padding-top: 3em;
    text-align: center;
    background-image: url(../img/footer-deco.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    .container {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            padding-bottom: 0.5em;
        }
    }
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .no-deco {
        margin: 0;
        ul {
            margin-top: 0;
            padding-top: 5px;
            @media (min-width: 768px) { 
                text-align: left;
            }
        }
    }
    /* -90deg rotate */
    .rotate-vert-n{
        
        @media (min-width: 768px) {
            writing-mode: sideways-lr;
            align-content: end;
            margin-top: 0;
            h5 {
            font-size: 15px;
            }    
        }
    }
    .link-icons {
        margin-top: 1em;
        display: flex;
        position: relative;
        justify-content: center;
        .mail svg:hover {
            color: rgba(183, 88, 88, 1);
            
            
        }
    }
    .site-footer-nav {
        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
            padding-top: 5px;      
        }
    }
    .footer-logo {
        a img{
            height: 65px;
            width: auto;
            object-fit: cover;
            margin: auto;
        }
    }
}
/* MOBILE FOOTER */
@media (max-width: 768px) {
    .site-footer .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        .site-footer-nav {
            padding-bottom: 1em;
        }
        .link-icons {
            margin: 0;
            padding-bottom: 1em;
        }
        h5 {
            margin: 0;
            font-size: 1.125em;
            text-decoration-line: underline;
        }
    }
    .site-footer .column {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}

/* Main Site Section (Main Content Area) */
.site-main {
    background: rgba(234, 245, 251, 1);
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    padding-bottom: 3em;
}

/* Main Sections */
section {
    padding: 1.5em 0;
}

/* Hero Sections */
.container .hero {
    position: relative;
    text-align: center;
    /* top: 2em;
    margin-bottom: 3em; */
}

.hero {
    border-top: none;
    /* padding: 8em 1em 8em 1em; */
    /* margin-bottom: 1.5em; */
    min-height: 100svh;
    display: grid;
    place-items: center;
    padding: 10svh 1em;
    /* background-image: url(../img/hero_v2.jpg); */
    background-size: cover;
    background-position: center bottom;
    /* background-color: rgba(136, 190, 136, 1); */
}
.hero .hero-name-rect {
    
    @media (min-width: 768px) {
        background-image: url(../img/hero_rect.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 3em;
        padding: 2em 0 1em 2.5em;
        height: 15em;
    }
    @media (max-width: 768px) {
        margin-top: 3em;
    }
}
.hero .hero-lam-logo {
    align-items: center;
    padding-top: 2em;
    max-width: 60%;
    img {
        width: 100%;
    }
}
.hero .hero-buttons {
    align-items: center;
    text-align: center;
    @media (max-width:768px) {
        display: flex;
        p {
            padding: 0 1em 0 0;
        }
        
    }
    @media (min-width: 768px) {
        padding-top: 5em;
    }
    
}
.hero h4 {
    /* color: rgba(253, 247, 223, 1); */
    /* color: rgba(76, 70, 70, 1); */
    color: rgba(144, 23, 56, 1);
    margin-top: .75em;
    margin-bottom: 0;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal
}
.hero .h1-left{
    @media (min-width: 768px) {
        font-size: 7em;
        min-width: 7em;
    }
    align-items: normal;
    margin: 0;
    margin-bottom: 10px;
    /* color: rgba(251, 253, 223, 1); */
    color: rgba(76, 70, 70, 1);
    justify-content: left; 
    /* text-transform: uppercase; */
}
.hero h1 {
    font-style: 3em;
    line-height: 1.1em;
    max-width: 20em;
    margin-bottom: 10px;
}
/* .hero p {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    a.button {
        margin: 5px;
    }
} */
.hero.text-centered h1, .hero.text-centered h2, .hero.text-centered h3, .hero.text-centered h4, .hero.text-centered h5, .hero.text-centered h6, .hero.text-centered p {
    margin-left: auto;
    margin-right: auto;
}

.hero.full-width {
    margin-top: 0;
    margin-bottom: 0;
}

/* Swap the display order of two columns */
.orderswap {
    flex-direction: row-reverse;
}

/* OLD/LEGACY SUPPORT FOR PRE-FLEXBOX ORDERSWAP */
/* OLD VERTICAL CENTERING MARKUP PRE-FLEXBOX */
.vert-parent .column {
    display: flex;
    align-items: center;
}

/* #SITE NAVIGATION */
/* Default Site Navigation Menu (both header & footer) */
.site-navigation {
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    button {
        font-family: museo-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
    }
}
.site-navigation .menu-button {
    display: none;
}
.site-navigation ul {
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
}
.site-navigation ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.site-navigation ul li li {
    white-space: nowrap;
}
.site-navigation ul li a {
    display: block;
    padding: 0.5em 0.75em 0.4em 0.75em;
    
}


@media (max-width: 768px) {
    .site-navigation ul.nav li a{
        color: rgba(251, 253, 223, 0.8);
    }
    .site-navigation ul.nav li a:hover{
        color: rgba(251, 253, 223, 1);
    }
}
.site-navigation ul li ul {
    border-top: none;
    margin: 0;
    padding: 0;
}
@media (min-width: 768px) {
    .site-navigation ul {
        border-top: none;
        margin: 0;
        padding: 0;
    }
    .site-navigation ul li {
        display: inline-block;

    }
    .site-navigation ul li a {
        margin: 0 0.5em;
        padding: 0.85em 0.5em 0.75em 0.5em;
    }
    .site-navigation ul li li {
        display: block;
    }
    .site-navigation ul li ul {
        text-align: left;
        position: absolute;
        z-index: 100;
        left: -9000px;
        background: #fff;
    }
    .site-navigation ul li ul a {
        color: rgba(76, 70, 70, 1);
        /* color: rgb(241, 251, 234); */
    }
    .site-navigation ul li:hover a {
        left: auto;
        right: 0;
    }
    .site-navigation ul li.selected a, .site-navigation ul li.current-menu-item a {
        font-weight: bold;
        color:rgba(183, 88, 88, 1);
    }
    .site-navigation ul li.selected li a, .site-navigation ul lu.current-menu-item li a {
        font-weight: normal;
    }
}

@media (max-width: 767px) {
    .site-navigation ul li, .site-navigation ul li ul li {
        display: block;
    }
}
/* Default Site-Navigation (footer only) */
.site-footer .site-navigation ul {
    display: flex;
    flex-direction: column;
    border-top: none;
    list-style: none;
    align-items: center;
    gap: 0.75em;
    margin: 0;
    padding: 0;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        gap: 2em; 
    }
    li {
        display: block;
    }
}

/* TOGGLE NAV */
@media (max-width: 767px){
    .toggle-nav {
        text-align: right;
        /* MENU BUTTON */
        /* TOGGLE NAV UL */
        background: rgba(183, 88, 88, 1);
    }
    .toggle-nav .site-id {
        position: absolute;

    }
    .toggle-nav li a:hover {
        /* color: rgba(76, 70, 70, 1); */
        color: rgba(251, 253, 223, 1);
        background: rgba(235, 125, 144, 1); 
    }
    .toggle-nav .menu-button {
        margin: 0.8em 0;
        display: inline-block;
        background-color: transparent;
        border: none;
        /* padding: 0; */
        cursor: pointer;
        /* color: rgba(76, 70, 70, 1); */
        color: rgba(234, 245, 251, 1);
    }
    .toggle-nav .menu-button::selection {
        background-color: rgba(255 255 255 0);
    }
    .toggle-nav .menu-button.navicon {
        color: rgba(255 255 255 0);
    }
    .toggle-nav .menu-button.navicon::after {
        content: url(../img/menu_light.svg);
        font-size: 1.5em;
        margin-top: -0.2em;
        margin-left: 0.1em;
        width: 1em;
        height: 1em;
        line-height: 1em;
        display: inline-block;
        position: absolute;
    }

    .toggle-nav[data-navstate=open] .menu-button.navicon::after {
        content: url(../img/x_light.svg);
    }

    .toggle-nav ul {
        max-height: 0;
        overflow: hidden;
        padding: 0;
    }

    .toggle-nav[data-navstate=open] ul {
        max-height: none;
        padding: 1em 0;
    }

    .toggle-nav[data-navstate=open] ul ul {
        padding: 0;
    }
}
.dark-toggle-nav {
    @media (max-width: 767px){
        .toggle-nav .menu-button {
            color: rgba(234, 245, 251, 1);
        }
        .toggle-nav li a:hover {
        color: rgba(251, 253, 223, 1);
        }
        .toggle-nav .menu-button.navicon::after {
            content: url(../img/menu_dark.svg);    
        }
        .toggle-nav[data-navstate=open] .menu-button.navicon::after {
            content: url(../img/x_dark.svg);
        }
    }
}


/* Animated Toggle-Nav Menu */
@media (max-width: 767px) {
    .toggle-nav.animated ul {
        display: block;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        border-width: 0;
        transition: all 0.3s ease;
    }
    .toggle-nav.animated[data-navstate=open] ul {
        max-height: 138em;
        opacity: 1;
        padding: 1.5em 0;
        border-width: 0px;
        transition: all 0.6s ease;
    }
    .toggle-nav.animated li {
        padding: 0;
        opacity: 0;
        transition: all 0.3s ease;
    }
    .toggle-nav.animated[data-navstate=open] li {
        padding: 0.25em;
        opacity: 1;
        transition: all 0.6s ease 0.2s;
    }
    .toggle-nav.animated li a {
        padding: 0;
        transition: all 0.3s ease;
    }
    .toggle-nav.animated[data-navstate=open] li a {
        padding: 0.75em;
    }
}


/* SPECIFIC PAGE CUSTOMIZATIONS */
/* HOME PAGE */
.home-page {       
    h1 {
        color: rgba(76, 70, 70, 1);
        /* color: rgba(234, 245, 251, 1); */
    }
    .landing {
        min-height: 100svh;
        display: grid;
        place-items: center;
        padding: 14svh 1em;
        background-color: rgba(234, 245, 251, 1);
        color: rgba(76, 70, 70, 1);
        h2 {
            margin-top: 0;
            font-family: "source-han-serif-tw-variable", sans-serif;
            font-variation-settings: "wght" 500;
        }
        h3 {
            margin-top: 2em;
            margin-bottom: 5px;
        }
        a {
            color: rgba(234, 245, 251, 1);
        }
        a:hover {
            color:rgba(223, 236, 253, 1);
        }
        .button {
            margin: 0;
        }
    }   
    .home-works {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .bush-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0px, 320px);
        opacity: 80%;
    }
}


.chinese {
    font-family: "source-han-serif-tw-variable", sans-serif;
    font-variation-settings: "wght" 250;
}

.oneone-img {
    transition: 1s ease;
    /* position: relative; */
    img {
        aspect-ratio: 1 / 1;
        object-fit: cover; 
    }
}
.oneone-img:hover {
    transform: scale(1.05);
    transition: 1s ease;
    opacity: 90%;
}
.oneone-img .project-details {
    /* transform: translate(0, -72px); */
    /* background-color: rgba(234, 245, 251, .8); */
    margin: 0;
    /* padding: 1em; */
    transition: 1s ease;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    h3 {
        margin: 0;
        margin-top: 3px;
        padding-left: 5px;
    }
    p {
        margin-bottom: 3px;
        padding-left: 5px;
    }
}


/* WORKS PAGE */
.works {
    margin-top: var(--gridgap);
    margin-bottom: var(--gridgap);
    section {
        padding: 0;
        --gridgap: 2em;
        justify-content: space-around;
        .row > * {
            margin: 1em 2em;
        }
        .row {
            gap: 0;
        }
        img {
            /* width: 720px;
            height: 576px; */
            object-fit: cover;
            /* max-height: 576px; */
            aspect-ratio: 5 / 4;
            border-radius: 10px;
        }

        .grow img{
            transition: 1s ease;
        }
        
        .grow img:hover{
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
            transition: 1s ease;
            opacity: 90%;
            }
    }
    
}

/* ABOUT PAGE */
.about {
    /* img {
        max-height: 200px;
        object-fit: cover;
        object-position:  50% 15%;
        @media (max-width: 767px) {
            object-position: 50% 20%;
        }
    } */
    .intro-software {
        display: flex;
        align-items: end;
        gap: 10px;
        margin-bottom: 2em;
        img {
            width: 3em;
        }
    }
    .intro-contact {
        text-align: right;
    }
    .about-animation {
        margin-top: 2em;
        padding: 0;
        /* background-color: rgba(253, 247, 223, 1); */
        border-top: 5px double rgba(76, 70, 70, 1);
        border-bottom: 5px double rgba(76, 70, 70, 1);
        align-items: center;
    }
    .resume {
        padding-top: 4em;
        /* background-color: rgba(253, 247, 223, 1); */
        
    }
    .row .no-deco h3 {
        margin-top: 1.5em;
        margin-bottom: 5px;
    }

    row {
        margin: 0;
    }
    @media (max-width: 900px) {
        .swiper {
            padding-right: 3em;
        }
    }
    .title-animate {
        display: flex;
        padding: 1em 0 1em 0;
        animation: slide-up 0.6s cubic-bezier(.19,0.9,.9,1) both;
        h2 {
            margin: auto;
            animation: slide-up;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    }
}
.about .swiper {
    width: 250px;
    height: auto;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.about .swiper-slide {
    display: grid;
    grid-template-rows: 10fr 1fr;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(183, 88, 88, 1);
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.1);
    }
    
.about .swiper-slide img {
    aspect-ratio: 3/4;
    border-radius: 5px;
    pointer-events: none;
}


  
.no-deco {
    ul {
        list-style-type: none;
        padding: 0%;
    }
}

/* CASE STUDY PAGES */
.logo{
    padding-top: 3em;
    text-align: center;
    margin: 0;
    display: contents;
    justify-content: center;
}
.case-study-stick {
    h1 {
        /* the default is flex */
    display: block;
    margin-top: 0;
    }
    .sticky {
        /* Make text stay in position */
        position: sticky;
        top: 0;
        padding-top: 3em;
    }
    .two-thirds {
        overflow: visible;
        position: relative;
    }
    .one-third {
        padding-top: 3em;
    }
    @media (max-width: 768px) {
        .two-thirds, .one-third{
            margin: 0%;
        }
    }
}
.next {
    display: flex;
    justify-content: flex-end;
}

.fraufeuer-casestudy {
    .site-header a{
        color: rgba(234, 245, 251, 1);
    }        
    section {
        padding-top: 0;
    }
    h2 {
        margin-top: 2em;
        /* margin-bottom: 0; */
    }
    .gallery-cards {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70vh;
        background-color: rgba(76, 70, 70, 1);
    }
      
    .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease;
        opacity: 85%;
        &:hover{
            flex: 7;
            opacity: 100%;
            }
    }
    .three-imgs {
        padding: 3em 0 2em 0;
    }
    
    .ff-1 { 
        background-image: url(../img/fraufeuer_front.jpg);
    }
    
    .ff-2 { 
        background-image: url(../img/fraufeuer_powder.JPG);
    }
    
    .ff-3 { 
        background-image: url(../img/fraufeuer_sides.png);
    }
    
    .ff-4 { 
        background-image: url(../img/fraufeuer_sage.jpg);
    }
    
    .ff-5 { 
        background-image: url(../img/fraufeuer_violet.jpg);
    }
}
.pf-fuel h2, .pf-fuel h4 {
    font-family: "pf-fuel-grime", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.sofia h2, .sofia h4 {
    text-align: center;
    font-family: "sofia-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.case-study-block {
    .site-main .container {
        margin-top: 4em;
        @media (max-width: 767px){
            margin-top: 5em;
            text-align: center;
            p {
                margin: auto;
            }
        }
        h2 {
            padding-top: 0.25em;
        }
    }
    one-half img {
        width: 100%;
    }
}
.software-apps {
    img {
        width: auto;
        height: 3em;
    }
}

.secondstar-casestudy {
    section {
        padding: 0;
        margin-bottom: 1em;
        
    }
    .site-header a{
        color: rgba(234, 245, 251, 1);
    }
    h2 {
        margin-top: 1em;
    }
    /* h3 {
        text-align: center;
        margin-top: 0;
    } */
    .full-width {
        padding: 0;
        margin-bottom: 2em;
        img {
            /* height: 50em; */
            width: 100%;
            overflow-y: hidden;
        } 
    }
    .listen-button {
        padding-top: 1em;
        display: flex;
        /* justify-content: center; */
        align-items: flex-end;
        p {
            padding: 0 1em 0 0;
        }
        
    }
}
.asset-header {
    position: relative;
    margin-bottom: 2em;
}
.assets {
    justify-content: space-around;
}
.assets img {
    aspect-ratio: 1/1;
    width: 100px;
    margin: .5em;
}

.bookmaina h2, .bookmaina h4 {
    text-align: center;
    font-family: "bookmania", serif;
    font-weight: 400;
    font-style: normal;
}
.omnes h2, .omnes h4{
    text-align: center;
    font-family: "omnes-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.gulim h2, .gulim h4{
    text-align: center;
    font-family: "gulim", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* PLAYLIST CODEPEN https://codepen.io/ecemgo/pen/PwYyNxa*/
:root {
        --light-clr: rgba(76, 70, 70, 1);
        --primary-clr: rgba(183, 88, 88, 1);
        --secondary-clr: rgba(144, 23, 56, 1);
        --active-clr: rgba(149, 153, 186, 0.4);
        --player-bg: rgba(234, 245, 251, 1);
        --scrollbar-track: rgb(79, 78, 78);
        --scrollbar-thumb: rgb(116, 116, 116);
      }
.audio-player {
    margin-top: 4em;
    margin-bottom: 4em;
    background:  RGBA(234, 245, 251, 1);
    background: linear-gradient(0deg, rgba(234, 245, 251, 1) 0%, rgba(76, 70, 70, 0.7) 30%, rgba(76, 70, 70, 0.9) 50%, rgba(76, 70, 70, 0.7) 70%, rgba(234, 245, 251, 1) 100%);
}
.cover {
    min-height: 50svh;
    @media (min-width:754px) {
        min-height: 90svh;
    }
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.2) inset,
        0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 10;
    color: rgba(76, 70, 70, 1);
    background-color: rgba(76, 70, 70, 1);
    color: rgba(234, 245, 251, 1);
    /* overflow-y: scroll; */
    padding: 1em;
    
    img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 5px;
        overflow: hidden;
        justify-content: center;
    }
    h3 {
        justify-content: left;
        /* text-align: left; */
    }
    p {
        padding-top: 1em;
    }
    
}
.port-box {
    --gridgap: 2em;
    
}
.port-box>* {
    background-color: rgba(171, 201, 212, 0.1);
    border-radius: .5em;
    padding-top: .5em;   
}
@media (min-width: 768px){
    .port-box {
        margin-top: var(--gridgap);
        margin-bottom: var(--gridgap);
    }
    .port-box>* {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.port-box.padded>* {
    padding: 2em 3em;
}

.color-chips {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(110px, 100%), 1fr));
    gap: 10px;
    align-items: start;
}

.color-chips svg {
    width: 100%;
    height: auto;
}

.listen-along {
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }

    h1 {
        font-size: clamp(0.8rem, 3vw, 1rem);
        color:rgba(76, 70, 70, 1);
    }

    p {
        font-size: clamp(0.7rem, 3vw, 1rem);
    }
    .content-playlist {
        /* position: absolute; */
        background-color: rgba(76, 70, 70, 1);
        inset: 0;
        width: 100%;
        /* height: 100%; */
        height: 90svh;
        display: grid;
        grid-template-columns: 100%;
        place-items: center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 25px;
        box-shadow: 0 0.5px 0 1px rgba(234, 245, 251, 1) inset,
            0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.1);
        z-index: 10;
        color: rgba(76, 70, 70, 1);
        overflow-y: scroll;
        padding: 1em 4em 1em;
    }
    .content-playlist::-webkit-scrollbar {
        width: .5em;
    }
    
    .content-playlist::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0.3rem gainsboro;
        border-radius: 3em;
        margin: 1em 0;
    }
    
    .content-playlist::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0.5rem gainsboro;
        background-color: rgba(234, 245, 251, 1);
        outline: none;
        border-radius: 3em;
    }
    .slider-playlist {
        display: grid;
        /* grid-template-columns: 45% 55%; */
        grid-template-columns: 1fr;
        align-items: top;
        margin-bottom: 4em;
    }
      
    /** Slider */
    
    .swiper {
        margin: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        overflow: hidden;
        /* width: 300px;
        height: auto; */
    }
    
    .swiper-slide {
        position: relative;
        display: grid;
        grid-template-rows: 4fr 1fr;
        padding: 15px;
        border-radius: 10px;
        background-color: #d3d2d6;
        box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.2) inset,
            0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.1);
        user-select: none;
    }
    
    .swiper-slide img {
        aspect-ratio: 1/1;
        border-radius: 5px;
        margin-bottom: 14px;
        pointer-events: none;
    }
    
    .swiper-slide h1 {
        width: max-content;
        font-family: "Permanent Marker", serif;
        letter-spacing: 2px;
        color: #222224;
        text-transform: uppercase;
        transform: rotate(-3deg);
        margin: auto;
    }
    
    /** Playlist */
    
    .playlist {
        width: 100%;
    }
    
    .playlist-item {
        display: grid;
        grid-template-columns: 15% 65% 15% 5%;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 8px 10px;
        margin-bottom: 15px;
        border-bottom: 2px solid rgba(183, 88, 88, 1);
        color: rgba(234, 245, 251, 1);

        cursor: pointer;
        user-select: none;
    }
    
    .playlist-item img {
        width: 70%;
        aspect-ratio: 1/1;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .playlist-item .song p:nth-child(1) {
        font-weight: 500;
        margin-bottom: 3px;
    }
    
    .playlist-item .song p:nth-child(2) {
        font-weight: 300;
        opacity: 0.5;
    }
    
    .playlist-item i {
        font-size: 1.2rem;
        color: rgba(183, 88, 88, 1);
    }
    
    .active-playlist-item {
        background-color: ivory;
        color: rgba(76, 70, 70, 1);
        border-radius: 5px;
    }
    
    /** PLAYER CONTROL */
    
    .player {
        position: sticky;
        left: 0;
        bottom: 0;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        background: rgba(251, 253, 223, 1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 5px;
        z-index: 15;
        overflow: hidden;
    }
    
    /** PLAYER BUTTONS */
    
    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
    }
    
    .controls i {
        font-size: 1.7rem;
        cursor: pointer;
        transform: scale(1);
        will-change: transform;
    }
    
    #playPauseBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        aspect-ratio: 1/1;
        margin: .5em 0;
        color:  rgba(234, 245, 251, 1);
        outline: 0;
        background:rgba(76, 70, 70, 1);
        border-radius: 50%;
        box-shadow: 0 10px 20px rgba(5, 36, 28, 0.3);
        font-size: 1.5rem;
        transform: scale(1);
        will-change: transform;
    }
    
    #shuffleBtn:hover,
    #prevBtn:hover,
    #nextBtn:hover,
    #playPauseBtn:hover {
        transform: scale(1.05);
    }
    
    /** Volume */
    
    .volume {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .volume i {
        color: rgba(76, 70, 70, 1);
        font-size: 1.2rem;
    }
    
    #volume-range {
        position: absolute;
        left: 30px;
        top: 7px;
        appearance: none;
        -webkit-appearance: none;
        width: 120px;
        height: 4px;
        background: rgba(183, 88, 88, 1);
        border-radius: 4px;
        cursor: pointer;
    }
    
    #volume-range::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        background: rgba(76, 70, 70, 1);
        width: 12px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    
    /** Progress */
    
    #progress-bar {
        appearance: none;
        -webkit-appearance: none;
        width: 90%;
        height: 5px;
        background: rgba(183, 88, 88, 1);
        border-radius: 4px;
        margin: 12px 0 16px;
        cursor: pointer;
    }
    
    #progress-bar::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        background: rgba(76, 70, 70, 1);
        width: 15px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    
    /** MEDIA QUERIES */
    
    @media (max-width: 1300px) {
        main {
            width: 90%;
        }
    
        .swiper {
            width: 270px;
        }
        #volume-range {
            width: 90px;
        }
    }
    
    @media (max-width: 1100px) {
        .content-playlist {
            padding: 2em;
        }
    
        .swiper {
            width: 240px;
        }
    
        .slider-playlist {
            grid-template-columns: 50% 50%;
        }
        #volume-range {
            width: 90px;
        }
    }
    
    @media (max-width: 900px) {
        .content-playlist {
            padding: 30px 40px 20px;
            overflow-x: hidden;
        }
    
        .slider-playlist {
            grid-template-columns: 100%;
        }
    
        .swiper {
            /* margin: 30px auto 50px; */
            margin: 0;
        }
    
        /* .player {
            width: 100%;
        } */
    
        #volume-range {
            width: 50px;
        }
    }
    @media (max-width: 750px) {
        #volume-range {
            width: 70px;
        }
    }
    
    @media (max-width: 580px) {
        .content-playlist {
            overflow-x: hidden;
        }
    
        .swiper {
            width: 220px;
            /* margin: 20px auto 35px; */
            margin: 0;
        }
    
        .playlist-item {
            margin-bottom: 10px;
        }
    
        /* .player {
            width: 115%;
        } */
    
        .controls {
            column-gap: 15px;
        }
    
        .controls i {
            font-size: 1.3rem;
        }
    
        #playPauseBtn {
            width: 40px;
            font-size: 1.2rem;
        }
    
        .volume i {
            font-size: 0.9rem;
        }
    
        #volume-range {
            left: 20px;
            top: 6px;
            width: 50px;
        }
    }
}

.flowerknows-casestudy {
    #fk_hero {
        padding-top: 0;
    }
    .full-width {
        padding: 0;
        margin-bottom: 2em;
        img {
            /* height: 50em; */
            width: 100%;
            overflow-y: hidden;
        } 
    }
    .site-header a{
        color: rgba(234, 245, 251, 1);
    }
}
.minion {
    text-align: center;
    font-family: "minion-pro", serif;
    font-weight: 700;
    font-style: normal;
}

.ohwhaleco-casestudy {
    #fk_hero {
        padding-top: 0;
    }
    .full-width {
        padding: 0;
        margin-bottom: 2em;
        img {
            /* height: 50em; */
            width: 100%;
            overflow-y: hidden;
        } 
    }
    .site-header a{
        color: rgba(234, 245, 251, 1);
    }
}
.kaisei {
    text-align: center;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.yoonbubble {
    text-align: center;
    font-family: "yoon-bubblebubble", sans-serif;
    font-weight: 400;
    font-style: normal;
}